h1 {
    color: red;
    text-shadow: 2px 2px 5px black;
}
h3{
    border-style: solid;
    border-color: green;
}
div{
    width: 300px;
    border: 15px solid blue;
    padding: 20px;
    margin: 50px;
}
a:link {
    background-color: yellow;
  }
  
  a:visited {
    background-color: cyan;
  }
  
  a:hover {
    background-color: lightgreen;
  }
  
  a:active {
    background-color: pink;
  } 
  table{
    border: solid black;
  }
  span {
    display: block;
  }
img{
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}
.overflow{
    /* background-color: coral; */
    width: 200px;
    height: 65px;
    /* border: 1px solid black; */
    overflow: auto;
}