h1 {
    color: red;
    text-shadow: 2px 2px 5px black;
}
h3{
    border-style: solid;
    border-color: green;
}
div{
    width: 300px;
    border: 15px solid blue;
    padding: 20px;
    margin: 50px;
}
